<div class="login-container">
    <div class="login-card">

        <h2>Profile Update</h2>

        <form [formGroup]="profileForm" (ngSubmit)="submit()">
            <div class="form-grid">

                <div class="form-group">
                    <label>Profile Name</label>
                    <input type="text" formControlName="name" placeholder="Enter your name"
                    [class.invalid]="profileForm.get('name')?.invalid && profileForm.get('name')?.touched" />
                <!-- Required -->
                @if (
                profileForm.get('name')?.touched &&
                profileForm.get('name')?.hasError('required')
                ) {
                <small class="form-error">
                    Profile name is required
                </small>
                }
                </div>

                <div class="form-group">
                    <label>Email</label>
                      <input type="email" formControlName="email" placeholder="Enter your email"
                    [class.invalid]="profileForm.get('email')?.invalid && profileForm.get('email')?.touched" />
                <!-- Required -->
                @if (profileForm.get('email')?.touched && profileForm.get('email')?.hasError('required')) {
                <small class="form-error">
                    Email is required
                </small>
                }

                <!-- Invalid Email -->
                @else if (
                profileForm.get('email')?.touched &&
                profileForm.get('email')?.hasError('email')
                ) {
                <small class="form-error">
                    Please enter a valid email address
                </small>
                }
                </div>

                <div class="form-group">
                    <label>Phone</label>
                     <input type="text" formControlName="phone" placeholder="Enter 10 digit phone number" maxlength="10">
                @if (
                profileForm.get('phone')?.invalid &&
                profileForm.get('phone')?.touched
                ) {
                <small class="form-error">
                    Enter a valid 10 digit phone number
                </small>
                }

                </div>
            </div>
            <!-- Submit -->
            <div class="button-wrapper">
                <button type="submit" class="login-btn update-profile">
                    Update
                </button>
            </div>
        </form>
    </div>
</div>